.row {

  @mixin clearfix;

  &__medium-4 {
    float: left;
    width: 100%;

    @mixin atMedium {
      width: 33.3%;
    }
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    &__b-margin-until-medium {
      margin-bottom: 0;
    }
  }


  &__medium-6 {
    float: left;
    width: 100%;
    @mixin atMedium {
      width: 50%;
    }
  }


  &__medium-8 {
    float: left;
    width: 100%;
    @mixin atMedium {
      width: 66.6%;
    }
  }

  &__medium-8-smaller {
    width: 63%;
  }

  &medium-4--larger {
    width: 37%
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters {
    margin-right: -65px;
  }
  &--gutters-large {
    margin-right: -100px;
  }
  &--gutters-large > div {
    padding-right: 100px;
  }


}